n8n/workflows/08_generate_draft_mock.json
{
  "name": "08 Generate Draft Mock",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-700, 0]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nreturn [{ json: { row_number: 2, ContentId: 'CONTENT-001', TopicId: 'TOPIC-001', Category: 'AI Tools', ExpectedProfitScore: 92, Title: 'Compare five AI tools for office work', Format: 'Shorts and Blog', RiskFlag: 'disclosure required', AIReviewScore: 88, ApprovalStatus: 'READY_FOR_OWNER_APPROVAL', OwnerDecision: 'APPROVE', CTA: 'comparison sheet', CreatedAt: now } }];"
      },
      "id": "approved-row",
      "name": "Approved Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-460, 0]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const row = item.json;\n  const generatedAt = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\n  return { json: {\n    ContentId: row.ContentId,\n    TopicId: row.TopicId,\n    Category: row.Category,\n    ExpectedProfitScore: row.ExpectedProfitScore,\n    Title: row.Title,\n    Format: row.Format,\n    RiskFlag: row.RiskFlag,\n    OwnerDecision: row.OwnerDecision,\n    SourceRowNumber: row.row_number,\n    DraftHook: '회사원이 바로 써볼 만한 AI 업무 도구 5개를 비교했습니다.',\n    DraftBody: '오늘 주제는 ' + row.Title + '입니다. 비교 기준은 반복업무 절감, 가격 확인 필요성, 실제 업무 적용 가능성, 자동화 난이도입니다. 먼저 회의록 자동화, 문서 작성 보조, 리서치 보조, 영상 제작 보조, 자동화 연결 도구 순서로 비교합니다. 선택 기준은 매일 반복되는 업무를 실제로 줄여주는지입니다.',\n    DraftCTA: '비교표를 보고 본인 업무에 맞는 도구부터 하나만 테스트하세요.',\n    RiskReviewStatus: 'DISCLOSURE_REQUIRED',\n    GeneratedAt: generatedAt,\n    FinalStatus: 'DRAFT_READY'\n  }};\n});"
      },
      "id": "generate-draft",
      "name": "Generate Draft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-190, 0]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{"node":"Approved Row","type":"main","index":0}]] },
    "Approved Row": { "main": [[{"node":"Generate Draft","type":"main","index":0}]] }
  },
  "settings": {"executionOrder":"v1"}
}
