n8n/workflows/09_gemini_draft_with_credential.json
{
  "name": "09 Gemini Draft With Credential",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-900, 0]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nreturn [{ json: { ContentId: 'CONTENT-001', TopicId: 'TOPIC-001', Category: 'AI Tools', ExpectedProfitScore: 92, Title: 'Compare five AI tools for office work', Format: 'Shorts and Blog', RiskFlag: 'affiliate disclosure', AIReviewScore: 88, ApprovalStatus: 'READY_FOR_OWNER_APPROVAL', OwnerDecision: 'APPROVE', CTA: 'comparison sheet', CreatedAt: now, row_number: 2 } }];"
      },
      "id": "mock-approved-row",
      "name": "Mock Approved Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-660, 0]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const row = item.json;\n  const draftPrompt = `너는 한국어 콘텐츠 초안 작성자다. 아래 승인된 콘텐츠 후보를 바탕으로 쇼츠와 블로그에 모두 쓸 수 있는 초안을 작성해라.\\n\\nContentId: ${row.ContentId}\\nCategory: ${row.Category}\\nTitle: ${row.Title}\\nFormat: ${row.Format}\\nRiskFlag: ${row.RiskFlag}\\nCTA: ${row.CTA}\\n\\n출력 형식은 반드시 아래 JSON만 반환해라. 마크다운 코드블록은 쓰지 마라.\\n{\\n  \"DraftHook\": \"...\",\\n  \"DraftBody\": \"...\",\\n  \"DraftCTA\": \"...\",\\n  \"RiskReviewStatus\": \"LOW_RISK 또는 DISCLOSURE_REQUIRED\",\\n  \"FinalStatus\": \"DRAFT_READY\"\\n}\\n\\n요구사항:\\n1. 한국어로 작성한다.\\n2. 과장 수익 보장 표현은 금지한다.\\n3. 제휴 가능성이 있으면 고지 문구를 포함한다.\\n4. 실무자가 바로 읽고 쓸 수 있게 구체적으로 작성한다.`;\n  return { json: { ...row, draftPrompt } };\n});"
      },
      "id": "build-gemini-prompt",
      "name": "Build Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-410, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { parts: [ { text: $json.draftPrompt } ] } ] } }}",
        "options": {}
      },
      "id": "gemini-generate-content",
      "name": "Gemini Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-150, 0],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_IN_N8N",
          "name": "Gemini API Key Header"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const res = item.json;\n  const text = res.candidates?.[0]?.content?.parts?.[0]?.text || '';\n  let parsed = {};\n  try {\n    parsed = JSON.parse(text.replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```$/i, '').trim());\n  } catch (e) {\n    parsed = { DraftHook: '', DraftBody: text, DraftCTA: '', RiskReviewStatus: 'REVIEW_REQUIRED', FinalStatus: 'DRAFT_READY_PARSE_FAILED' };\n  }\n  return { json: {\n    DraftHook: parsed.DraftHook || '',\n    DraftBody: parsed.DraftBody || text,\n    DraftCTA: parsed.DraftCTA || '',\n    RiskReviewStatus: parsed.RiskReviewStatus || 'REVIEW_REQUIRED',\n    GeneratedAt: new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' }),\n    FinalStatus: parsed.FinalStatus || 'DRAFT_READY'\n  } };\n});"
      },
      "id": "parse-gemini-output",
      "name": "Parse Gemini Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, 0]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{"node":"Mock Approved Row","type":"main","index":0}]] },
    "Mock Approved Row": { "main": [[{"node":"Build Gemini Prompt","type":"main","index":0}]] },
    "Build Gemini Prompt": { "main": [[{"node":"Gemini Generate Content","type":"main","index":0}]] },
    "Gemini Generate Content": { "main": [[{"node":"Parse Gemini Output","type":"main","index":0}]] }
  },
  "settings": {"executionOrder":"v1"}
}
